h1,
h2,
h3,
p {
  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

// FONT
html {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3 {
  font-family: "Livvic", sans-serif;
}

// Links
a:not(.v-btn) {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

// PAGE TRANSITION
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter-to,
.page-leave-from {
  opacity: 1;
}

// UI ADJUSTMENTS
.id-cell {
  overflow-wrap: anywhere;
}

.result-badge {
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
