@use "tailwindcss";
@use "@nuxt/ui";

// FONT
html {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Livvic", sans-serif;
}

// Links
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

// PAGE TRANSITION
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter-to,
.page-leave-from {
  opacity: 1;
}
